.container{
    width: 90%;
    text-align:center;
    margin: 20px auto
}

.container iframe{
    margin: auto;
}

.twitch{
    height:720px;
    width:1280px;
}

@media (max-width: 700px){
    .twitch{
        width: 380px;   
        height: 340px;
        border: none;
    }

    .container{
        width: 100%
    }
}