.galeria{
    width: 90%;
    margin: auto;
    display:flex;
    flex:1;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
}

.foto{
    display: inline-block;
    margin: 30px 10px
}

.foto:hover{
    box-shadow: 0 0 20px #f9000040
}