.lore{
    width: 90%;
    margin: auto;
    overflow: hidden;
    /* z-index:2; */
}

/* .timeline:before{
  z-index:1;
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  margin: 0 0 0 -1px;
  width: 2px;
  height: 90%;
  background: rgba(255,255,255,0.2);
} */

@media (max-width: 700px){
  .lore{
    width: 100%
  }
}